
.example-form {
  width: 100%;
}

.example-full-width {
  width: 50% !important;
  margin-bottom: 5px;
padding-right: 10px;
}

.example-quarter-width {
  width: 20% !important;;
  margin-bottom: 5px;
  padding-right: 10px;
}

.container {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.form-section{
  // flex: 1;
  padding: 5px;
  width: 50%; /* Decrease the width to 50% */
  border-right: 1px solid rgb(213, 205, 205);
}

.table-section {
  width: 50%; /* Adjust the width to fit alongside the form */
}


button{
  margin-right: 10px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.errorMsg{
  color: rgb(193, 0, 0);
}

.highlight-row {
  background-color: rgb(255, 247, 0);
}
.last-added-row {
  background-color: rgb(19, 255, 66);
}

form form{
  padding: 4px;
  border:1px solid black;
}









