  .employee-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .form-card, .table-card {
    width: 100%;
  }

  .full-width {
    width: 100%;
  }

  mat-card-actions {
    justify-content: flex-end; /* Aligns buttons to the right */
    padding-right: 0; /* Removes default padding if any conflicts */
  }

//   .btn-primary {
//   background-color: #2b2382 !important; /* Example: green */
//   color: #fff !important;
// }
  .btn-secondary {
  background-color: #d3a70a !important; /* Example: green */
  color: #000000 !important;
}
